body {
    background: grey;
    font-family: sans-serif;
    margin: 70px;
}

div {
    background-color: aliceblue;
    justify-content: center;
    border-radius: 10px;
    margin: 30px;
    
}
p{
    padding-top: 20px;
    padding-left: 20px;

}
.button {
    border-radius: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    
}
#button1{
    background: #4CC9FE;
    border-color: #4CC9FE;
}
#button2{
    background: #FF9D3D;
    border-color: #FF9D3D;
}
#button3{
    background: #ED3EF7;
    border-color: #ED3EF7;
}
